.modal-component {
  & > span {
    display: block;
    height: 100%;
    width: 100%;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  .blockTitle {
    height: 59px;
    background-color: #82b1ff;
    color: #ffffff;
    position: relative;
    border-radius: 4px 4px 0 0;

    h3 {
      display: block;
      text-align: center;
      font-size: 18px;
      line-height: 59px;

      i {
        margin-right: 5px;
      }
    }

    .closeButton {
      position: absolute;
      right: 20px;
      top: 16px;
      font-size: 25px;
      cursor: pointer;
    }
  }

  .overflowBlock {
    white-space: nowrap;

    .photoBlock {
      margin: 20px;

      img.photo {
        display: inline-block;
        vertical-align: middle;
      }

      div.photo {
        display: inline-block;
        width: 84px;
        height: 84px;
        border-radius: 14px;
        background-color: #b0bec5;
        text-align: center;
        vertical-align: middle;

        .fa {
          font-size: 20px;
          color: #fafafa;
          line-height: 84px;
        }
      }

      .uploadPhotoBlock {
        display: inline-block;
        padding: 0 0 0 20px;
        vertical-align: middle;

        .uploadPhotoButton {
          margin: 0 0 7px 0;
          border-radius: 4px;
          background-color: #ffffff;
          border: solid 1px #cfd8dc;
          padding: 10px 10px 9px 10px;
          font-size:14px;
          color: #435b67;
          display: inline-block;

          i {
            margin-right: 5px;
          }

          &:hover, &:active {
            outline: none;
            cursor: pointer;
          }
        }

        p {
          line-height: 1.54;
          font-size:13px;
          color: #7e939e;
        }
      }
    }

    table {
      width: 100%;
    }

    .newAccountButton {
      font-size: 10px;
      color: #3483b8;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .informationBlock {
      padding: 10px 20px 10px 20px;

      td {
        h4 {
          margin: 12px 4px;
          font-size: 15px;
          letter-spacing: -0.4px;
          color: #175fc7;

          label {
            font-size: inherit;
            color: inherit;
            cursor: pointer;

            i {
              width: 10px;
            }
          }
        }
      }

      .inputData {
        width: 35%;
        position: relative;

        .suffix {
          position: absolute;
          right: 6px;
          top: 17px;
          color: #666;
          font-size: 11px;
        }

        &.duration {
          input {
            padding-right: 30px;
          }
        }
      }

      .labelData {
        width: 15%;
        padding: 0 0 0 15px;
      }

      td {
        position: relative;
        vertical-align: middle;
        width: auto;
        padding: 5px 0 5px 10px;

        label {
          font-size: 14px;
          letter-spacing: -0.3px;
          color: #7e939e;
        }

        input, .chosenSuggest {
          width: 100%;
          height: 34px;
          padding: 0 10px;
          box-sizing: border-box;
          border-radius: 4px;
          background-color: #ffffff;
          border: solid 1px #cfd8dc;
          display: inline-block;

          &:hover, &:active {
            border: 1px solid #82b1ff;
            outline: none;
          }

          &[disabled] {
            background-color: #fafafa;
            border: solid 1px #eeeeee;
          }
        }

        .chosenSuggest {
          padding: 4px;

          .border-wrapper {
            border: 1px solid #bdc6ca;
            border-radius: 4px;
            padding: 0 5px;
            height: 24px;
            font-size: 12px;
            line-height: 22px;

            span {
              float: right;
              cursor: pointer;
            }
          }
        }

        select {
          width: 100%;
          height: 34px;
          padding: 0 10px;
          color: #7e939e;
          box-sizing: border-box;
          border-radius: 4px;
          -webkit-border-radius: 4px;
          background-color: #ffffff;
          border: solid 1px #cfd8dc;
          -webkit-appearance: none;
          background-image: url(../../assets/images/select-arrow.png);
          background-repeat: no-repeat;
          background-position: 95% center;

          &:hover, &:active {
            border: 1px solid #82b1ff;
            outline: none;
          }
        }

        .withSelect {
          select {
            background-color: #fff;
            width: 70px;
            height: 34px;
            padding: 0 0 0 5px;
            color: #7e939e;
            border-radius: 4px 0 0 4px;
            -webkit-border-radius: 4px 0 0 4px;
            border: solid 1px #cfd8dc;
            vertical-align: top;
            background-position: 90% center;
          }

          input {
            width: calc(100% - 70px);
            border-left: none;
            border-radius: 0 4px 4px 0;
          }

          input.invalidValidation {
            border-left: 0 !important;
          }

          &:hover, &:active {
            input {
              border: 1px solid #82b1ff;
              outline: none;
              border-left: none;
            }

            select {
              border: 1px solid #82b1ff;
              outline: none;
            }
          }
        }

        input.invalidValidation {
          border: solid 1px #ef5350 !important;
        }

        select.invalidValidation {
          border: solid 1px #ef5350 !important;

          &:hover, &:active {
            border: solid 1px #ef5350 !important;
          }
        }
      }

      .withSelect2 {
        select {
          background-color: #fff;
          width: 90px;
          height: 34px;
          padding: 0 0 0 5px;
          color: #7e939e;
          border-radius: 4px 0 0 4px;
          border: solid 1px #cfd8dc;

          &:hover, &:active {
            border: 1px solid #82b1ff;
            outline: none;
          }
        }

        input {
          width: calc(100% - 90px);
          border-left: none;
          border-radius: 0 4px 4px 0;

          &:hover, &:active {
            border-left: 1px solid #82b1ff;
          }
        }
      }


      .streetInput {
        width: 100%;
      }

      .checkboxBlock {
        text-align: center;

        input {
          vertical-align: bottom;
          width: auto;
          height: 14px;
          border-radius: 2px;
          background-color: #ffffff;
          border: solid 1px #b0bec5;
        }
      }

      textarea {
        width: 100%;
        height: 100px;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 4px;
        background-color: #ffffff;
        border: solid 1px #cfd8dc;

        &:hover, &:active {
          border: 1px solid #82b1ff;
          outline: none;
        }
      }

      .required {
        &:before {
          content: '*';
          color: #bb0707;
        }
      }

      .checkboxBlock {
        text-align: center;

        input {
          vertical-align: middle;
          width: auto;
          height: 14px;
          border-radius: 2px;
          background-color: #ffffff;
          border: solid 1px #b0bec5;
        }

        label {
          margin:0;
          font-size: 14px;
          letter-spacing: -0.3px;
          color: #7e939e;
        }
      }
    }
  }

  .buttonsBlock {
    border-radius: 0 0 4px 4px;
    top: 0;
    background-color: #edf4ff;

    .buttons {
      width: 100%;
      text-align: right;
      padding: 12px;

      button {
        font-size: 14px;
        letter-spacing: -0.3px;
        margin: 0 4px;
        padding: 10px 20px 8px 20px;
        border-radius: 4px;

        &:disabled {
          background-color: #999;

          &:hover {
            background-color: #999;
          }
        }
      }

      .cancelButton{
        border-radius: 4px;
        background-color: #ffffff;
        border: solid 1px #cfd8dc;
        color: #435b67;

        &:hover {
          background-color: #cfd8dc;
          cursor: pointer;
        }
      }

      .saveButton {
        border-radius: 4px;
        background-color: #4fc3f7;
        border: none;
        color: #fff;

        &:hover {
          background-color: #38a8f7;
          cursor: pointer;
        }
      }

      .saveNewButton {
        border-radius: 4px;
        background-color: #8bc34a;
        border: none;
        color: #fff;

        &:hover {
          background-color: #56bd3b;
          cursor: pointer;
        }
      }
    }
  }
}
