.passwordResetPage {
  min-height: 100vh;
  background-image: url('bg.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  display: table;
  text-align: center;
  width: 100%;

  .error, .success {
    margin-bottom: 10px;
  }

  .passwordResetContainer {
    display: table-cell;
    vertical-align: middle;

    .passwordResetBlock {
      margin: 30px auto;
      border-radius: 4px;
      background-color: #ffffff;
      box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
      text-align: left;
      max-width: 480px;

      .backButtonBlock {
        height: 20px;
        padding: 15px 20px;
        display: block;

        .fa {
          color: #b0bec5;
        }
      }

      .passwordResetInsideBlock {
        padding: 15px 62px 0 62px;

        .imgBlock {
          margin: 15px auto;
          text-align: center;
        }

        .instructionBlock {
          margin: 85px 0 15px 0;
          font-size: 14px;
          text-align: center;
          color: #657d8a;
        }

        .formBlock {
          input {
            margin: 10px 0;
            padding: 0 0 0 10px;
            box-sizing: border-box;
            width: 93%;
            height: 40px;
            border-radius: 4px;
            background-color: #ffffff;
            border: solid 1px #cfd8dc;

            &:hover, &:focus, &:active {
              border: 1px solid #82b1ff;
              outline: none;
            }
          }

          .submitButton {
            margin: 10px 0;
            height: 40px;
            width: 93%;
            font-size: 16px;
            border-radius: 4px;
            background-color: #82b1ff;
            border: none;
            color: #fff;

            &:hover {
              background-color: #7485FF;
              border: none;
              cursor: pointer;
            }
          }
        }

        .copyrightBlock {
          font-size: 12px;
          text-align: center;
          color: #657d8a;
          margin: 125px 0 15px 0;
        }
      }
    }
  }
}

//For small devices

@media (max-width: 960px) {
  .passwordResetPage {
    .passwordResetContainer {
      .passwordResetBlock {
        .passwordResetInsideBlock {
          padding: 15px;
          display: block;
          margin: 0 10px;

          .formBlock {
            input {
              width: 100%;
              margin: 10px 0;
            }
          }
          .copyrightBlock {
            margin: 145px 0 0 0;
          }
        }
      }
    }
  }
}
